Phase 1/Cloud/data_visualization.json
[{"id":"85833242f0ef73ac","type":"tab","label":"data_visualization","disabled":false,"info":"","env":[]},{"id":"f7835e78572bdfd9","type":"ibmiot in","z":"85833242f0ef73ac","authentication":"apiKey","apiKey":"55a160d7e23e9331","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"status","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":100,"y":620,"wires":[["5bbfa1e311dfc94e","cc3f96021c7e16cb","29e176fd6c50042f","1c8f352887309d3d","deccf6a0930271a3","d60b1c461f4d7fbd","783702fbdc920beb","d90d1ad15d234644","02f25096f19a4eb4","0f04152a851fa05f","5b52a5689208b136"]]},{"id":"5bbfa1e311dfc94e","type":"debug","z":"85833242f0ef73ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":360,"wires":[]},{"id":"cc3f96021c7e16cb","type":"change","z":"85833242f0ef73ac","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":480,"wires":[["63cba50684149896","211ded8d6e83eee3","8c8b323d76d007c0"]]},{"id":"63cba50684149896","type":"ui_chart","z":"85833242f0ef73ac","name":"","group":"586a0701d1ff87a2","order":0,"width":0,"height":0,"label":"Temperature line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":380,"wires":[[]]},{"id":"29e176fd6c50042f","type":"change","z":"85833242f0ef73ac","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":800,"wires":[["5579177cdfac4ce3","217127701fa3980f","455c9fe97b2b1df2","43e6702995e2f378","0b3b6cafd6932837"]]},{"id":"5579177cdfac4ce3","type":"ui_chart","z":"85833242f0ef73ac","name":"","group":"f323ab2e6238da79","order":0,"width":0,"height":0,"label":"Humidity line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":770,"y":720,"wires":[[]]},{"id":"7aaa95fad8a4751c","type":"ui_audio","z":"85833242f0ef73ac","name":"","group":"f323ab2e6238da79","voice":"","always":"","x":920,"y":780,"wires":[]},{"id":"02a9abd764a6dc62","type":"change","z":"85833242f0ef73ac","name":"Humidity alart text1","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"high humidity alart\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":780,"wires":[["7aaa95fad8a4751c"]]},{"id":"db8f6e6303ca1ad9","type":"change","z":"85833242f0ef73ac","name":"Humidity alart text2","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"low humidity alart\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":860,"wires":[["ee5e36fe2c1e78ad"]]},{"id":"ee5e36fe2c1e78ad","type":"ui_audio","z":"85833242f0ef73ac","name":"","group":"f323ab2e6238da79","voice":"","always":"","x":900,"y":860,"wires":[]},{"id":"217127701fa3980f","type":"debug","z":"85833242f0ef73ac","name":"humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":660,"wires":[]},{"id":"455c9fe97b2b1df2","type":"switch","z":"85833242f0ef73ac","name":"humidity switch","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"70","vt":"num","v2":"80","v2t":"num"},{"t":"btwn","v":"30","vt":"num","v2":"40","v2t":"num"},{"t":"gte","v":"80","vt":"num"},{"t":"lte","v":"30","vt":"num"},{"t":"btwn","v":"40","vt":"num","v2":"70","v2t":"num"}],"checkall":"true","repair":false,"outputs":5,"x":500,"y":840,"wires":[["02a9abd764a6dc62"],["db8f6e6303ca1ad9"],["02a9abd764a6dc62"],["db8f6e6303ca1ad9"],[]]},{"id":"946889082bfd1272","type":"change","z":"85833242f0ef73ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()*100\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1900,"wires":[["f2df83a767a68bbf","70034b0a8057598e"]]},{"id":"6e0ed8fe8dc5bfa8","type":"inject","z":"85833242f0ef73ac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1900,"wires":[["946889082bfd1272"]]},{"id":"f2df83a767a68bbf","type":"debug","z":"85833242f0ef73ac","name":"humidity random","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":1960,"wires":[]},{"id":"43e6702995e2f378","type":"function","z":"85833242f0ef73ac","name":"function","func":"return {humidity:msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":960,"wires":[["afcaa4d50a274e4c"]]},{"id":"afcaa4d50a274e4c","type":"ui_gauge","z":"85833242f0ef73ac","name":"","group":"f323ab2e6238da79","order":3,"width":"8","height":"4","gtype":"gage","title":"Humidity Gauge","label":" %","format":"{{humidity}}","min":0,"max":"100","colors":["#0056b3","#00e682","#ca3838"],"seg1":"40","seg2":"70","className":"","x":920,"y":960,"wires":[]},{"id":"0b3b6cafd6932837","type":"debug","z":"85833242f0ef73ac","name":"hmdty","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":920,"wires":[]},{"id":"1c8f352887309d3d","type":"ui_text","z":"85833242f0ef73ac","group":"20a653ff209a55ef","order":1,"width":"0","height":"0","name":"","label":"Temperature Difference of Today: ","format":"{{msg.payload.d.Tempdiff}}","layout":"row-left","className":"","x":400,"y":520,"wires":[]},{"id":"ff942dfd3b0ae182","type":"ui_text","z":"85833242f0ef73ac","group":"20a653ff209a55ef","order":1,"width":"0","height":"0","name":"","label":"Is the Temperature Suitable? ","format":"{{msg.payload.d.Tempfitcount}}","layout":"row-left","className":"","x":860,"y":560,"wires":[]},{"id":"deccf6a0930271a3","type":"ui_text","z":"85833242f0ef73ac","group":"20a653ff209a55ef","order":1,"width":"0","height":"0","name":"","label":"Suitable temperature lasts for (hours): ","format":"{{msg.payload.d.Tempdiffnumber}}","layout":"row-left","className":"","x":410,"y":700,"wires":[]},{"id":"211ded8d6e83eee3","type":"function","z":"85833242f0ef73ac","name":"function","func":"return {temp:msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[["563e56276352e1b8"]]},{"id":"563e56276352e1b8","type":"ui_gauge","z":"85833242f0ef73ac","name":"","group":"586a0701d1ff87a2","order":3,"width":"8","height":"4","gtype":"gage","title":"Temperature Gauge","label":" ℃","format":"{{temp}}","min":0,"max":"45","colors":["#0056b3","#00e682","#ca3838"],"seg1":"18","seg2":"24","className":"","x":820,"y":440,"wires":[]},{"id":"8c8b323d76d007c0","type":"debug","z":"85833242f0ef73ac","name":"tt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"70034b0a8057598e","type":"change","z":"85833242f0ef73ac","name":"Cough","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.IsCough","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1860,"wires":[[]]},{"id":"1fd3118115e876ab","type":"ui_text","z":"85833242f0ef73ac","group":"fe539b2b2bfaaad3","order":1,"width":"6","height":"1","name":"","label":"Is the patient coughing? ","format":"{{msg.payload}}","layout":"row-left","className":"","x":810,"y":1040,"wires":[]},{"id":"d60b1c461f4d7fbd","type":"switch","z":"85833242f0ef73ac","name":"Cough","property":"payload.d.IsMagnetic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1040,"wires":[["4011c5ea2839137a"],["176d6f8b685a2385"]]},{"id":"176d6f8b685a2385","type":"change","z":"85833242f0ef73ac","name":"Cough change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1060,"wires":[["1fd3118115e876ab"]]},{"id":"4011c5ea2839137a","type":"change","z":"85833242f0ef73ac","name":"Cough change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":980,"wires":[["1fd3118115e876ab"]]},{"id":"b77741364e46e826","type":"ui_text","z":"85833242f0ef73ac","group":"fe539b2b2bfaaad3","order":1,"width":"6","height":"1","name":"","label":"Is the patient taking medicine? ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":1200,"wires":[]},{"id":"783702fbdc920beb","type":"switch","z":"85833242f0ef73ac","name":"Take Medicine","property":"payload.d.IsMagnetic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":1200,"wires":[["da71e147f82655cc"],["07736319269bec22"]]},{"id":"07736319269bec22","type":"change","z":"85833242f0ef73ac","name":"medicine change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1240,"wires":[["b77741364e46e826"]]},{"id":"da71e147f82655cc","type":"change","z":"85833242f0ef73ac","name":"medicine change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1180,"wires":[["b77741364e46e826"]]},{"id":"35ea64ecfc3f8078","type":"ui_text","z":"85833242f0ef73ac","group":"fe539b2b2bfaaad3","order":1,"width":"6","height":"1","name":"","label":"How long does the patient coughing? ","format":"{{msg.payload}}","layout":"row-left","className":"","x":810,"y":1120,"wires":[]},{"id":"d90d1ad15d234644","type":"change","z":"85833242f0ef73ac","name":"Cough Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Cough_Minutes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1120,"wires":[["35ea64ecfc3f8078","35ea64ecfc3f8078"]]},{"id":"5f8d480700b43a6c","type":"ui_text","z":"85833242f0ef73ac","group":"fe539b2b2bfaaad3","order":1,"width":"6","height":"1","name":"","label":"Times the patient taking medicine:  ","format":"{{msg.payload}}","layout":"row-left","className":"","x":800,"y":1280,"wires":[]},{"id":"02f25096f19a4eb4","type":"change","z":"85833242f0ef73ac","name":"Medicine Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Magn_count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1280,"wires":[["5f8d480700b43a6c"]]},{"id":"6e65ab41aeafa3d0","type":"change","z":"85833242f0ef73ac","name":"temp change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":580,"wires":[["ff942dfd3b0ae182"]]},{"id":"7752ca47b7591c8d","type":"change","z":"85833242f0ef73ac","name":"temp change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":620,"wires":[["ff942dfd3b0ae182"]]},{"id":"0f04152a851fa05f","type":"switch","z":"85833242f0ef73ac","name":"Temp fit or not ","property":"payload.d.IsMagnetic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":600,"wires":[["6e65ab41aeafa3d0"],["7752ca47b7591c8d"]]},{"id":"ab578774a0be26c2","type":"switch","z":"85833242f0ef73ac","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1560,"wires":[["46310747bc0a9d2b"],["3a3d229889a0e6f3"]]},{"id":"46310747bc0a9d2b","type":"change","z":"85833242f0ef73ac","name":"TurnOn","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"iot-2/type/mkr1010/id/7c9ebd3b4f84/evt/status/fmt/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":685,"y":1555,"wires":[["471ccf2680d3690a","1ac2e5fc4f48d423"]]},{"id":"471ccf2680d3690a","type":"debug","z":"85833242f0ef73ac","name":"TurnOn","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1555,"wires":[]},{"id":"1ac2e5fc4f48d423","type":"ibmiot out","z":"85833242f0ef73ac","authentication":"apiKey","apiKey":"78032f78c60f111a","outputType":"cmd","deviceId":"7c9ebd3b4f84","deviceType":"mkr1010","eventCommandType":"display","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":890,"y":1630,"wires":[]},{"id":"3a3d229889a0e6f3","type":"change","z":"85833242f0ef73ac","name":"TurnOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"eventType","pt":"msg","to":"status","tot":"str"},{"t":"set","p":"format","pt":"msg","to":"json","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"iot-2/type/mkr1010/id/7c9ebd3b4f84/evt/status/fmt/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":1700,"wires":[["141b1d8297c40ce0","2245aad5f1cdb394"]]},{"id":"141b1d8297c40ce0","type":"debug","z":"85833242f0ef73ac","name":"TurnOff","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1700,"wires":[]},{"id":"2245aad5f1cdb394","type":"ibmiot out","z":"85833242f0ef73ac","authentication":"apiKey","apiKey":"78032f78c60f111a","outputType":"cmd","deviceId":"7c9ebd3b4f84","deviceType":"mkr1010","eventCommandType":"display","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":900,"y":1775,"wires":[]},{"id":"2c54fe0381e96126","type":"ui_text","z":"85833242f0ef73ac","group":"fe539b2b2bfaaad3","order":1,"width":"6","height":"1","name":"","label":"Is the patient Coma? ","format":"{{msg.payload}}","layout":"row-left","className":"","x":800,"y":1340,"wires":[]},{"id":"5b52a5689208b136","type":"switch","z":"85833242f0ef73ac","name":"Iscoma","property":"payload.d.Iscoma","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1340,"wires":[["4831c035a42d89b8"],["d25312b54586dcbd"]]},{"id":"d25312b54586dcbd","type":"change","z":"85833242f0ef73ac","name":"coma change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  YES","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1380,"wires":[["2c54fe0381e96126"]]},{"id":"4831c035a42d89b8","type":"change","z":"85833242f0ef73ac","name":"coma change","rules":[{"t":"set","p":"payload","pt":"msg","to":"  NO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1320,"wires":[["2c54fe0381e96126"]]},{"id":"2ef7712497517ea0","type":"ui_template","z":"85833242f0ef73ac","group":"b95b8608a4553e05","name":"","order":1,"width":"0","height":"0","format":"<a href = \"https://bs2ipcul0apon0jufi80lite.db2.cloud.ibm.com/crn%3Av1%3Abluemix%3Apublic%3Adashdb-for-transactions%3Aeu-gb%3Aa%2F38d778e3745c4f6db3ef8d94c825991f%3Ad2e6b2f7-5718-4ae0-91f8-e6d16cb1f819%3A%3A/console/index.html#explore/table/data/table/TWP80362/DATASET\"><button>View DB2 Database</button></a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":300,"y":1420,"wires":[[]]},{"id":"38f0e79f53bc0a36","type":"ui_switch","z":"85833242f0ef73ac","name":"","label":"Alarm/Not","tooltip":"","group":"b95b8608a4553e05","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"\"xx\"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"\"xxxx\"","offcolor":"","animate":false,"className":"","x":300,"y":1500,"wires":[["ab578774a0be26c2","2bda12a7dbd8811e"]]},{"id":"2bda12a7dbd8811e","type":"debug","z":"85833242f0ef73ac","name":"button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1620,"wires":[]},{"id":"55a160d7e23e9331","type":"ibmiot","name":"Dqy_all_data_test","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"586a0701d1ff87a2","type":"ui_group","name":"Temperature Data","tab":"132183b040e8113b","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"f323ab2e6238da79","type":"ui_group","name":"Humidity Data","tab":"132183b040e8113b","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"20a653ff209a55ef","type":"ui_group","name":"Temperature difference","tab":"132183b040e8113b","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fe539b2b2bfaaad3","type":"ui_group","name":"Behaviour Monitor","tab":"132183b040e8113b","order":4,"disp":true,"width":"11","collapse":false,"className":""},{"id":"78032f78c60f111a","type":"ibmiot","name":"yzytest","keepalive":"60","serverName":"d5hfdp.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b95b8608a4553e05","type":"ui_group","name":"Manual Control","tab":"132183b040e8113b","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"132183b040e8113b","type":"ui_tab","name":"Real-time Data Monitor","icon":"dashboard","disabled":false,"hidden":false}]