Phase 1/Cloud/FinalNode.json
[{"id":"c8015bfe39a9ddd1","type":"tab","label":"FinalNode","disabled":false,"info":"","env":[]},{"id":"ad03af95826a21dd","type":"ibmiot in","z":"c8015bfe39a9ddd1","authentication":"apiKey","apiKey":"635d14dd0659c644","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"status","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":false,"qos":"0","x":160,"y":660,"wires":[["5cae11cf9166e430","42e7ce74112bf912","924a715ed6b0c79d","400c918de3e0e556"]]},{"id":"5cae11cf9166e430","type":"switch","z":"c8015bfe39a9ddd1","name":"Detect Temperature","property":"payload.d.Temperature","propertyType":"msg","rules":[{"t":"btwn","v":"10","vt":"num","v2":"17","v2t":"num"},{"t":"btwn","v":"25","vt":"num","v2":"30","v2t":"num"},{"t":"lt","v":"10","vt":"num"},{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":403.75000762939453,"y":487.50000762939453,"wires":[["7e19257b5bd30598"],["7e19257b5bd30598"],["1730bd4a3312d0b6"],["1730bd4a3312d0b6"]]},{"id":"7e19257b5bd30598","type":"change","z":"c8015bfe39a9ddd1","name":"TemperatureLevel1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.7500152587891,"y":440.00000858306885,"wires":[["b0df140ccacb5251"]]},{"id":"1730bd4a3312d0b6","type":"change","z":"c8015bfe39a9ddd1","name":"TemperatureLevel2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":823.7500152587891,"y":540.0000085830688,"wires":[["b0df140ccacb5251"]]},{"id":"42e7ce74112bf912","type":"switch","z":"c8015bfe39a9ddd1","name":"Detect Humidity","property":"payload.d.Humidity","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"50","v2t":"num"},{"t":"btwn","v":"70","vt":"num","v2":"80","v2t":"num"},{"t":"gte","v":"80","vt":"num"},{"t":"lte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":401.25000762939453,"y":660.0000095367432,"wires":[["f9f33a2a6fd13956"],["f9f33a2a6fd13956"],["5dce326c0f998ad5"],["5dce326c0f998ad5"]]},{"id":"f9f33a2a6fd13956","type":"change","z":"c8015bfe39a9ddd1","name":"HumidityLevel1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.7500152587891,"y":616.2500095367432,"wires":[["b0df140ccacb5251"]]},{"id":"5dce326c0f998ad5","type":"change","z":"c8015bfe39a9ddd1","name":"HumidityLevel2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":828.7500152587891,"y":716.2500095367432,"wires":[["b0df140ccacb5251"]]},{"id":"b0df140ccacb5251","type":"join","z":"c8015bfe39a9ddd1","name":"join1","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1127.500015258789,"y":588.7500104904175,"wires":[["7b792b8a9de59f0e"]]},{"id":"f082ecfd099ed329","type":"ibmiot out","z":"c8015bfe39a9ddd1","authentication":"apiKey","apiKey":"e34a855ae1fda7dd","outputType":"cmd","deviceId":"9c9c1fe1a8d0","deviceType":"mkr1010","eventCommandType":"display","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1500,"y":580,"wires":[]},{"id":"7b792b8a9de59f0e","type":"change","z":"c8015bfe39a9ddd1","name":"setParameter","rules":[{"t":"set","p":"topic","pt":"msg","to":"iot-2/type/mkr1010/id/9c9c1fe1a8d0/evt/status/fmt/json","tot":"str"},{"t":"change","p":"deviceId","pt":"msg","from":"7c9ebd3b4e1c","fromt":"str","to":"9c9c1fe1a8d0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1316.0000190734863,"y":590.2500095367432,"wires":[["f082ecfd099ed329"]]},{"id":"924a715ed6b0c79d","type":"function","z":"c8015bfe39a9ddd1","name":"label data_1","func":"if (msg.payload.d.Temperature > 26 || msg.payload.d.Temperature < 16){\n    msg.payload.d.label = 1;\n}else if (msg.payload.d.Humidity > 70 || msg.payload.d.Humidity < 40){\n    msg.payload.d.label = 1;\n}else if (msg.payload.d.Tempdiff == 1){\n    msg.payload.d.label = 1;\n}else if(msg.payload.d.Tempfit == 1 ){\n    msg.payload.d.label = 1;\n}else if(msg.payload.d.Magn_Count > 7){\n    msg.payload.d.label = 1;\n}else{\n    msg.payload.d.label = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":820,"wires":[["eb3d58709437f4db"]]},{"id":"eb3d58709437f4db","type":"function","z":"c8015bfe39a9ddd1","name":"note data_2","func":"\n\nvar noteTemperature = '';\nvar noteHumidity = '';\nvar noteTempdiff = '';\nvar noteTempfit = '';\nvar noteMagn_Count = '';\n\nif (msg.payload.d.Temperature > 24 || msg.payload.d.Temperature < 18){\n    noteTemperature = 'Temperature anomaly';\n}\nif (msg.payload.d.Humidity > 70 || msg.payload.d.Humidity < 40){\n    noteHumidity = 'Humidity anomaly';\n}\nif (msg.payload.d.Tempdiff == 1){\n    noteTempdiff = 'Temperature difference over ten degrees Celsius';\n}\nif(msg.payload.d.Tempfit == 1 ){\n    noteTempfit = 'Unsuitable temperature';\n}\nif(msg.payload.d.Magn_Count > 7){\n    msg.payload.d.label = 'Frequent medication';\n}\n\nmsg.payload.d.note = noteTemperature + ' ' + noteHumidity + ' ' + noteTempdiff + ' ' + noteTempfit + ' ' + noteMagn_Count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":820,"wires":[["371c8de7fb700759"]]},{"id":"8422f29e1c16d112","type":"Db2 out","z":"c8015bfe39a9ddd1","Db2":"3cc51ecc3f28157c","service":"_ext_","table":"DATA1","name":"Table_DB","x":1340,"y":820,"wires":[]},{"id":"15f65f24ed091ad9","type":"debug","z":"c8015bfe39a9ddd1","name":"NormalLevel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":900,"wires":[]},{"id":"23fb80c93b90ba36","type":"change","z":"c8015bfe39a9ddd1","name":"Trans2DB","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":820,"wires":[["8422f29e1c16d112","15f65f24ed091ad9"]]},{"id":"f305e213541dc811","type":"function","z":"c8015bfe39a9ddd1","name":"DateTime","func":"msg.payload.d.TIMESTAMP=msg.mydate\nmsg.payload.d.TIMESTAMP=msg.payload.d.TIMESTAMP+\" \"+msg.mytimes\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":820,"wires":[["23fb80c93b90ba36"]]},{"id":"400c918de3e0e556","type":"function","z":"c8015bfe39a9ddd1","name":"Delay1","func":"dateBegin=msg.payload.d.TIMESTAMP;\nvar dateEnd = new Date();//获取当前时间\nvar dateDiff = dateEnd.getTime() - dateBegin;//时间差的毫秒数\nvar dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数\nvar leave1=dateDiff%(24*3600*1000)  //计算天数后剩余的毫秒数\nvar hours=Math.floor(leave1/(3600*1000))//计算出小时数\n//计算相差分钟数\nvar leave2=leave1%(3600*1000)  //计算小时数后剩余的毫秒数\nvar minutes=Math.floor(leave2/(60*1000))//计算相差分钟数\n//计算相差秒数\nvar leave3=leave2%(60*1000)   //计算分钟数后剩余的毫秒数\nvar seconds=Math.round(leave3/1000)\nvar leave4=leave3%(60*1000)   //计算分钟数后剩余的毫秒数\nvar minseconds=Math.round(leave4/1000)\nmsg.payload.d.Delay=minseconds;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":980,"wires":[["5c54ffc5760bc715"]]},{"id":"5c54ffc5760bc715","type":"template","z":"c8015bfe39a9ddd1","name":"Display Delay1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Transmission Delay of Normal Sensors is: {{payload.d.Delay}} ms.","output":"str","x":550,"y":980,"wires":[["b3341c5322b32ae2"]]},{"id":"b3341c5322b32ae2","type":"debug","z":"c8015bfe39a9ddd1","name":"Delay1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":980,"wires":[]},{"id":"73884cb4e61658e0","type":"function","z":"c8015bfe39a9ddd1","name":"label data_2","func":"\nif (msg.payload.d.CoughLevel1 == 1 || msg.payload.d.CoughLevel1 == 2 || msg.payload.d.CoughLevel1 == 3){\n    msg.payload.d.label = 1;\n}else if(msg.payload.d.IsComa == 1){\n    msg.payload.d.label = 1;\n}else{\n    msg.payload.d.label = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":396.25001525878906,"y":1160.0000200271606,"wires":[["9f2d772ec0578624"]]},{"id":"9f2d772ec0578624","type":"function","z":"c8015bfe39a9ddd1","name":"note data_2","func":"var noteCoughLevel1 = '';\nvar noteIsComa = '';\n\nif (msg.payload.d.CoughLevel1 == 1 || msg.payload.d.CoughLevel1 == 2 || msg.payload.d.CoughLevel1 == 3){\n    noteCoughLevel1 = 'patient has coughed for ' + msg.payload.d.cough_minutes + ' minitues.';\n}\nif (msg.payload.d.IsComa != 0){\n    noteIsComa = 'Patient fainted.';\n}\n\nmsg.payload.d.note = noteCoughLevel1 + ' ' + noteIsComa;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":556.2500152587891,"y":1160.0000200271606,"wires":[["89571017aa7b3fd2"]]},{"id":"3436f8468e46b8df","type":"ibmiot in","z":"c8015bfe39a9ddd1","authentication":"apiKey","apiKey":"e34a855ae1fda7dd","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"status","commandType":"","format":"","name":"cough_Sensor","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":false,"qos":"0","x":177.49999237060547,"y":1159.3749856948853,"wires":[["73884cb4e61658e0","2be3877c571fa066","6c8fa835a87ec76c"]]},{"id":"ac8fc76aad1c7f50","type":"Db2 out","z":"c8015bfe39a9ddd1","Db2":"3cc51ecc3f28157c","service":"_ext_","table":"COUGH2","name":"COUGH_DB","x":1356.250015258789,"y":1160.0000200271606,"wires":[]},{"id":"ad5c7590f95407b7","type":"change","z":"c8015bfe39a9ddd1","name":"Trans2DB","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1166.250015258789,"y":1160.0000200271606,"wires":[["ac8fc76aad1c7f50","125a60667623be01"]]},{"id":"4fdc4fb8e1131812","type":"function","z":"c8015bfe39a9ddd1","name":"DateTime","func":"msg.payload.d.TIMESTAMP=msg.mydate\nmsg.payload.d.TIMESTAMP=msg.payload.d.TIMESTAMP+\" \"+msg.mytimes\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":986.2500152587891,"y":1160.0000200271606,"wires":[["ad5c7590f95407b7"]]},{"id":"2be3877c571fa066","type":"function","z":"c8015bfe39a9ddd1","name":"Delay2","func":"dateBegin=msg.payload.d.TIMESTAMP;\nvar dateEnd = new Date();//获取当前时间\nvar dateDiff = dateEnd.getTime() - dateBegin;//时间差的毫秒数\nvar dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数\nvar leave1=dateDiff%(24*3600*1000)  //计算天数后剩余的毫秒数\nvar hours=Math.floor(leave1/(3600*1000))//计算出小时数\n//计算相差分钟数\nvar leave2=leave1%(3600*1000)  //计算小时数后剩余的毫秒数\nvar minutes=Math.floor(leave2/(60*1000))//计算相差分钟数\n//计算相差秒数\nvar leave3=leave2%(60*1000)   //计算分钟数后剩余的毫秒数\nvar seconds=Math.round(leave3/1000)\nvar leave4=leave3%(60*1000)   //计算分钟数后剩余的毫秒数\nvar minseconds=Math.round(leave4/1000)\nmsg.payload.d.Delay=minseconds;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":376.25001525878906,"y":1260.0000200271606,"wires":[["825fd01ed3bfae92"]]},{"id":"825fd01ed3bfae92","type":"template","z":"c8015bfe39a9ddd1","name":"Display Delay2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Transmission Delay of Cough Sensor is: {{payload.d.Delay}} ms.","output":"str","x":566.2500152587891,"y":1260.0000200271606,"wires":[["e849424b57c3595c"]]},{"id":"e849424b57c3595c","type":"debug","z":"c8015bfe39a9ddd1","name":"Delay2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":736.2500152587891,"y":1260.0000200271606,"wires":[]},{"id":"125a60667623be01","type":"debug","z":"c8015bfe39a9ddd1","name":"CoughLevel","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1356.250015258789,"y":1220.0000200271606,"wires":[]},{"id":"6c8fa835a87ec76c","type":"function","z":"c8015bfe39a9ddd1","name":"","func":"msg.payload.d.level=msg.payload.d.CoughLevel1.toString()+msg.payload.d.IsComa.toString()\nmsg.payload=msg.payload.d.level\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":386.25001525878906,"y":1080.0000200271606,"wires":[["47ee48cb44457556"]]},{"id":"47ee48cb44457556","type":"change","z":"c8015bfe39a9ddd1","name":"test","rules":[{"t":"change","p":"topic","pt":"msg","from":"iot-2/type/mkr1010/id/84cca82f4e10/evt/status/fmt/json","fromt":"str","to":"iot-2/type/mkr1010/id/7c9ebd3b4f84/evt/status/fmt/json","tot":"str"},{"t":"change","p":"deviceId","pt":"msg","from":"84cca82f4e10","fromt":"str","to":"7c9ebd3b4f84","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":576.2500152587891,"y":1080.0000200271606,"wires":[["f582b3c9aff982ac"]]},{"id":"f582b3c9aff982ac","type":"ibmiot out","z":"c8015bfe39a9ddd1","authentication":"apiKey","apiKey":"7a9128320ee320cf","outputType":"cmd","deviceId":"7c9ebd3b4f84","deviceType":"mkr1010","eventCommandType":"display","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":786.2500152587891,"y":1080.0000200271606,"wires":[]},{"id":"371c8de7fb700759","type":"simpletime","z":"c8015bfe39a9ddd1","name":"","mydate":true,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":true,"mypm":false,"x":790,"y":820,"wires":[["f305e213541dc811"]]},{"id":"89571017aa7b3fd2","type":"simpletime","z":"c8015bfe39a9ddd1","name":"","mydate":true,"myymd":false,"myyear":false,"mymonth":false,"mymonthn":false,"mydom":false,"mydoy":false,"myday":false,"myhourpm":false,"myhour":false,"mytime":false,"mytimes":true,"myminute":false,"myminutes":false,"mysecond":false,"mymillis":false,"myepoch":false,"myrawdate":true,"mypm":false,"x":806.2500152587891,"y":1160.0000200271606,"wires":[["4fdc4fb8e1131812"]]},{"id":"635d14dd0659c644","type":"ibmiot","name":"Dqy_all_data_test","keepalive":"60","serverName":"08psvo.messaging.internetofthings.ibmcloud.com ","cleansession":true,"appId":"","shared":false},{"id":"e34a855ae1fda7dd","type":"ibmiot","name":"jty","keepalive":"60","serverName":"q4svz9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3cc51ecc3f28157c","type":"Db2","hostname":"2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud","db":"bludb","port":"32328","name":"HCY"},{"id":"7a9128320ee320cf","type":"ibmiot","name":"HCY","keepalive":"60","serverName":"htyn6s.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]